@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-20 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-20 blockquote b{
	text-transform: uppercase;
}

#chapter-20 blockquote p:last-child{
	padding-left: 3.5em;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
